QMainWindow{
    background-color: #18120c;
}

QLabel{
    min-width: 60px;
    max-width: 60px;
    margin-left: 10px;
    margin-top: 10px;
    color: #eee0d4;
}

QLineEdit{
    color: #eee0d4;
    min-width: 200px;
    border: 1px solid #9c8e80;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #18120c;
}

QPushButton{
    background: #ffa90e;
    color: #462a00;
    padding: 10px 20px 10px 20px;

border-radius: 6px;
margin: 10px 20px 10px 20px;
}

QPushButton:hover {
background: #ba7c09;
}
